/* write your override styles here */
#wall .tag-1 {
    display: none;
}

body #wall #tag-2 {
  display: none;
}

body div#wall div#tag-3.slick  {
  display: none;
}

#wall .parent #tag-4 {
  display: none;
}

body div#wall .parent #tag-5.slick {
  display: none;
}

body div#wall .parent div:last-child div:first-child#tag-6 {
  display: none
}

body div#wall div.parent div #tag-7.slick {
  display: none
}
